SOLVING EQUATION

In [ ]:
x=int(input("x value:"))
y=int(input("y value:"))
c=int(input("c value:"))
s=(3*(x**2)+4*y+c)
print(s)

SQUARE OF A NUM

In [ ]:
a=int(input("enter the num:"))
b=a**2
print(b)

MAX NUM

In [ ]:
a=[100,200,300]
b=max(a)
print(b)

CHECKNG NUM IS POSITIVE OR NEGATIVE

In [ ]:
a=int(input("enter the num:"))
if (a>0):
  print("positive")
elif (a<0):
  print("negative")
else:
  print("zero")

SWAPPING 2 NUM

In [ ]:
a=10
b=20
print("before swapping",a,b)
print("after swapping",b,a)

SQUARE ROOT

In [ ]:
a=int(input("enter the value:"))
b=a**0.5
print("the square root of a is:",b)

CELSIUS TO FAHRENHEIT

In [ ]:
celsius=int(input("enter the celsius:"))
fahrenheit=celsius*9/5+32
print("the fahrenheit is ",fahrenheit)

AREA OF TRIANGLE

In [ ]:
base=int(input("enter the base:"))
height=int(input("enter the height:"))
area=0.5*base*height
print ("the area of triangle is",area)

PATTERNS

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(i, end='')
  print('')

In [ ]:
for i in range(1,6):
  for j in range(i):
    print('*', end='')
  print('')

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(j+1, end='')
  print('')

In [ ]:
for i in range(1,6):
  for j in range(i):
    print('*', end=' ')
  print(' ')

In [ ]:
a=5
for i in range(a):
  for j in range(a-i):
    print('',end='')
    for k in range(i+1):
      print('*',end='')
  print('')

In [ ]:
a=5
for i in range(1,a+1):
  b=" "*(a-i)
  c="*"*i
  print(b+c)

In [ ]:
raj=5
for i in range(1,raj+1):
  s=" "*(raj-i)
  r="*"*(2*i-1)
  print(s+r)

AREA OF TRIANGLE

In [ ]:
 a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))
# calculate the semi-perimeter
s = (a + b + c) / 2
# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is ', area)

CONCATENATE 2 STRINGS

In [ ]:
str1="python"
str2="programming"
print ("String 1:",str1)
print ("String 2:",str2)
str=str1+str2
print("Concatenated two different strings:",str)

LARGEST NUM AMONG 3 INPUTS

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
 largest = num1
elif (num2 >= num1) and (num2 >= num3):
 largest = num2
else:
 largest = num3
print("The largest number is", largest)

PRIME NUM OR NOT

In [ ]:
# To take input from the user
num = int(input("Enter a number: "))
# define a flag variable
flag = False
if num == 1:
 print(num, "is not a prime number")
elif num > 1:
 # check for factors
 for i in range(2, num):
  if (num % i) == 0:
 # if factor is found, set flag to True
   flag = True
 # break out of loop
   break
 # check if flag is True
 if flag:
  print(num, "is not a prime number")
 else:
  print(num, "is a prime number")

FACTORIAL NUM

In [ ]:
# To take input from the user
num = int(input("Enter a number: "))
factorial = 1
# check if the number is negative, positive or zero
if num < 0:
 print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
 print("The factorial of 0 is 1")
else:
 for i in range(1,num + 1):
  factorial = factorial*i
print("The factorial of",num,"is",factorial)

POSTIVE,NEGATIVE OR ZERO

In [ ]:
a = int(input("Enter a number: "))
if a > 0:
 print("Positive number")
elif a == 0:
 print("Zero")
else:
 print("Negative number")

MULTIPLICATION TABLE

In [ ]:
val=int(input("enter the num:"))
for i in range(1,11):
  print(val,'X',i,'=',val*i)

LEAP YEAR OR NOT

In [ ]:
year=int(input("enter the year:"))
if(year%400==0)and (year%100==0):
  print(year,'is a leap year')
elif(year%4==0)and(year%100!=0):
  print(year,'is a leap year')
else:
  print(year,'is not a leap year')

PRINT CURRENT DATE

In [ ]:
from datetime import date
todays_date=date.today()
print("today's date is:",todays_date)

H.C.F OF TWO NUMBERS

In [ ]:
from re import I
def compute_hcf(x,y):
  if x>y:
    smaller=y
  else:
    smaller=x
    for i in range (1,smaller+1):
      if((x%i==0)and(y%i==0)):
        return hcf
num1=int(input("enter a val:"))
num2=int(input("enter b val:"))
print("the h.c.f is",compute_hcf(num1,num2))

In [ ]:
def compute_hcf(x, y):
 if x > y:
  smaller = y
 else:
  smaller = x
  for i in range(1, smaller+1):
    if((x % i == 0) and (y % i == 0)):
      hcf = i
      return hcf
num1 = int(input("Enter first number"))
num2 = int(input("Enter SEC number"))
print("The H.C.F. is", compute_hcf(num1, num2))

In [ ]:
def compute_lcm(x, y):
  if x > y:
     greater = x
  else:
    greater = y
    while(True):
      if((greater % x == 0) and (greater % y == 0)):
        lcm = greater
        break
        greater += 1
        return lcm
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
print("The L.C.M. is", compute_lcm(num1, num2))

SQUARE OF A NUM

In [ ]:
def find_square(num):
  res=num*num
  return res
square=find_square(3)
print('square:',square)

CELSIUS TO FAHRENHEIT

In [ ]:
celsius=float(input("enter the celsius"))
fahrenheit=celsius*9/5+32
print('fahrenheit is:',fahrenheit)

KILOMETERS TO MILES

In [ ]:
kilometers=float(input('ennter the km:'))
conv_fac=0.621371
miles=kilometers*conv_fac
print("the miles are:",miles)

KILOMETER TO METER

In [ ]:
kilometers=float(input('ennter the km:'))
calc=1000
meter=kilometers*calc
print("the meters are:",meter)

SWAP 2 NUMBERS

In [ ]:
x=10
y=20
x,y=y,x
print("x=",x)
print("y=",y)

In [ ]:
x=10
y=20
print("before swapping",x,y)
print("after swapping",y,x)

ARMSTRONG NUMBER

In [ ]:
a=int(input("enter a num:"))
sum=0
temp=a
while temp>0:
  digit=temp%10
  sum+=digit**3
  temp//=10
if a==sum:
  print(a,"is an armstrong number")
else:
  print(a,"is not a armstrong number")

COMPOUND INTEREST

In [ ]:
def compound_interest(principal,rate,time):
  amount=principal*(pow((1+rate/100),time))
  CI=amount-principal
  print("compound interest is",CI)
compound_interest(10000,10.25,5)

ELEMENT IS PRESENT IN THE LIST OR NOT

In [ ]:
a=[1,6,3,5,3,4]
i=7
if i in a:
  print("exist")
else:
  print("not exist")

REVERSE A LIST USING SLICE OPERATION

In [ ]:
def reverse(b):
  new_b=b[::-1]
  return new_b
b=[10,11,12,13,14,15]
print(reverse(b))

UPDATE THE MARK IN DICT

In [ ]:
marks={'phy':67,'mat':87}
int_marks={'practical':48}
marks.update(int_marks)
print(marks)

In [ ]:
IS PALINDROME OR NOT

In [ ]:
def ispalindrome(string):
  if(string==string[::-1]):
    return "THE STRING IS A PALINDROME"
  else:
    return "the string is not a palindrome"
string=input("enter a string:")
print(ispalindrome(string))

PATTERN PRINTING IN REVERSE

In [ ]:
rows=int(input("enter a num:"))
for i in range(rows+1,0,-1):
  for j in range(0,i-1):
    print("*",end='')
  print('')

reverse a number

In [ ]:
a=int(input("enter a num:"))
revs_a=0
while(a>0):
  remainder=a%10
  revs_a=(revs_a*10)+remainder
  a=a//10
print("the reverse num is:{}".format(revs_a))

PERFORM ARITHMETIC OPERATORS

In [ ]:
a=int(input("enter a val:"))
b=int(input("enter b val:"))
add=a+b                        #add
sub=a-b                        #sub
mult=a*b                       #multiply
div=a/b                        #division
mod=a%b                        #modulo
expo=a**b                      #exponentiation
print("sum value:",add)
print("sub val:",sub)
print("div val:",div)
print("mod val:",mod)
print("expo val:",expo)

ODD OR EVEN

In [ ]:
a=int(input("enter a num:"))
if a%2==0:
  print("its an even num")
else:
  print("its an odd num")

ALPHABET OR NOT

In [ ]:
c=str(input("enter a char:"))
if c>='A' and c<='Z':
  print("its an alphabet")
else:
  print("its not an alphabet")

SUM OF N NUM

In [ ]:
sum=0
n=int(input("enter the n val:"))
print("enter"+str(n)+"num:")
for i in range(n):
  num=int(input())
  sum=sum+num
print("sum of"+str(n)+"num="+str(sum))

TO FIND A SUBSTRING IN A GIVEN STRING

In [ ]:
a=input("enter a string:")
b=input("enter a substring:")
if b in a:
  print("Found!")
else:
  print("Not found!")

TO FIND VOWELS IN A STRING

In [ ]:
a=input("enter a string:")
vowels=0
for i in a :
  if(i=='a'or i=='e'or i=='i'or i=='o' or i=='u'or i=='A' or i=='E' or i=='I'or i=='O'or i=='U'):
    vowels=vowels+1
print("Number of vowels are:",vowels)

TO CHECK IF A NUMBER IS PERFECT OR NOT

In [ ]:
n=int(input("enter any num:"))
sum1=0
for i in range(1,n):
  if(n%i==0):
    sum1=sum1+i
if(sum1==n):
  print("the num is a perfect num")
else:
  print("the num is not a perfect num")

TO GENERATE ALL THE DIVISORS OF AN INTEGER

In [ ]:
s=int(input("enter an integer:"))
print("the divisors of the num are:")
for i in range(1,s+1):
  if(s%i==0):
    print(i)

GET 5 MARKS OF A STUDENT AND DISPLAY THE GRADE

In [ ]:
sub1=int(input("enter a sub1 mark:"))
sub2=int(input("enter a sub2 mark:"))
sub3=int(input("enter a sub3 mark:"))
sub4=int(input("enter a sub4 mark:"))
sub5=int(input("enter a sub5 mark:"))
avg=(sub1+sub2+sub3+sub4+sub5)//5
if(avg>=90):
  print("Grade:A")
elif(avg>=80 & avg<90):
  print("Grade:B")
elif(avg>=70 & avg<80):
  print("Grade:C")
elif(avg>=60 & avg<70):
  print("Grade:D")
elif(avg>=50 & avg<60):
  print("Grade:E")
else:
  print("Grade:F")

BINARY  EQUIVALENT OF ANY NUM

In [ ]:
a=int(input("enter any num:"))
print(bin(a)[2:])

TAKE A STRING AND REPLACE IT WITH A HYPHEN

In [ ]:
string=input("Enter string:")
string=string.replace(' ','-')
print("Modified string:")
print(string)

DESIGN A CALCULATOR

In [ ]:
def add(x,y):
  return(x+y)
def sub(x,y):
  return(x-y)
def mult(x,y):
  return(x*y)
def div(x,y):
  return(x/y)
print("select operation:")
print("1.Add")
print("2.sub")
print("3.multiply")
print("4.divide")
while True:
  choice=input("enter choice(1/2/3/4):")
  if choice in('1','2','3','4'):
    try:
      num1=float(input("enter num 1:"))
      num2=float(input("enter num 2:"))
    except ValueError:
      print("invalid input")
      continue
    if choice=='1':
      print(num1,'+',num2,'=',add(num1,num2))
    elif choice=='2':
      print(num1,'-',num2,'=',sub(num1,num2))
    elif choice=='3':
      print(num1,'*',num2,'=',mult(num1,num2))
    elif choice=='4':
      print(num1,'/',num2,'=',div(num1,num2))
    next_calc=input("move on to next?(yes/no):")
    if next_calc=='no':
      break
    else:
      print("invalid input")

In [ ]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
 element=int(input("Enter a element" + str(x+1) + ":"))
 a.append(element)
b = set()
unique = []
for x in a:
 if x not in b:
  unique.append(x)
  b.add(x)
print("Non-duplicate items:")
print(unique)

LEAP YEAR

In [ ]:
def is_leap(year):
    if(year%4==0 and year%100!=0) or  (year%400==0):
        return True
    else:
        return False

year = int(input())
print(is_leap(year))

In [ ]:
from itertools import permutations
inp, length = input().split()
length = int(length)
perms = permutations(sorted(inp), length)
for i in perms:
    print("".join(i))

In [ ]:
from itertools import combinations


inp, length = input().split()
length = int(length)


inp = ''.join(sorted(inp))


for r in range(1, length + 1):
    for combo in combinations(inp, r):
        print(''.join(combo))